<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Estilos propios -->
  <link rel="stylesheet" href="/css/style.css">
  <!-- Estilos de bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Login</title>
</head>
<body>

<section class="user">
  <div class="user_options-container">
    <div class="user_options-text">
      <div class="user_options-unregistered">
        <h2 class="user_unregistered-title">¿No tienes una cuenta?</h2>
        <p class="user_unregistered-text">Crea una cuenta y disfruta de nuestra aplicación.</p>
        <button class="user_unregistered-signup" id="signup-button">Inscribirse</button>
      </div>
      
      <div class="user_options-registered">
        <h2 class="user_registered-title">¿Tienes una cuenta?</h2>
        <p class="user_registered-text">Logueate en nuestra web con tus credenciales y disfruta</p>
        <button class="user_registered-login" id="login-button">Login</button>
      </div>
    </div>
    
    <div class="user_options-forms" id="user_options-forms">
      <div class="user_forms-login">
        <h2 class="forms_title">Login</h2>
        <form id="login" class="forms_form" >
         <fieldset class="forms_fieldset">
            <div class="forms_field">
              <input type="email" id="txtEmail" placeholder="Email" class="forms_field-input" required autofocus />
            </div>
            <div class="forms_field">
              <input type="password" id="txtPassword"  placeholder="Contraseña" class="forms_field-input" required />
            </div>
          </fieldset>
          <div class="forms_buttons">
            <div class="form-group">
              <h5>Elige tu nombre y avatar</h5>
          </div>
            
            <input id="submitBtn" type="submit" value="Log In" class="forms_buttons-action prevent-default">
          </div>
        </form>
      </div>
      <div class="user_forms-signup">
        <h2 class="forms_title">registrarse</h2>
        <form id="register" class="forms_form prevent-default">
          <fieldset class="forms_fieldset">
            <div class="forms_field">
              <input type="text" id="regtxtUsername" placeholder="Nombre" class="forms_field-input" required />
            </div>
            <div class="forms_field">
              <input type="email" id="regtxtEmail" placeholder="Email" class="forms_field-input" required />
            </div>
            <div class="forms_field">
              <input type="password" id="regtxtPassword"  placeholder="Contraseña" class="forms_field-input" required />
            </div>
          </fieldset>
          
          <div class="forms_buttons">
            <input id="regsubmitBtn" type="submit" value="registrarse" class="forms_buttons-action">
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
 



<!-- Script de animacion del login -->
<script src = "/js/loginAnimation.js"></script>

<!-- Script gestion del login -->
<script src = "/js/login.js"></script>


<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- <script src="/js/sweetalert.js"></script> -->


</body>
</html>